.booking-container{
  width: 70%;
  max-width: 1272px;
  height: auto;
  z-index: 2;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 20px 15% 10px 15%;
  padding: 4px 40px 12px 40px;
  font-family: 'Apercu Pro', sans-serif;                                    
  font-size: 16px;
  display: flex;
  position: relative;
  top: 60px;
  box-shadow: 0 3px 60px rgba(0, 0, 0, .05);
  /* border: #000 1px solid; */
}

.date-container,
.guest-container{
  font-weight: 700;
  padding: 10px 15px;
}

.date,
.guest{
  font-family: 'Apercu Pro', sans-serif; 
  color: #111112;
  width: 100%;
  box-shadow: none;
  height: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0;
  font-size: 16px;
  line-height: normal;
  padding: 4px 15px;
}

button{
  width: 120px;
  font-family: 'Apercu Pro', sans-serif;  
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: #0000;
  background-color: #44564c;
  border: 1px solid #44564c;
  border-radius: 30px;
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  padding: 10px 15px;
}