:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --app-fontfamily: 'Apercu', sans-serif;

  --color0: #44554B;
  --color1: #D3AF97;
}

*{
  box-sizing: border-box;
  font-family: var(--app-fontfamily);
}

html, body {
  margin: 0;
  line-height: 1.6;
  justify-content: center;
  align-items: center;
}